<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PixivSpider</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.show_tag') }}">标签主页</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('main.deal_with_query') }}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="args">
            </div>
            <input type="hidden" name="type" value="illust">
            <button type="submit" class="btn btn-default">查询图片</button>
        </form>
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('main.deal_with_query') }}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="args">
            </div>
            <input type="hidden" name="type" value="illust_tag">
            <button type="submit" class="btn btn-default">查询标签</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            {% if g.user %}
            <li><a href="{{ url_for('auth.homepage', id=g.user['id']) }}">{{ g.user['account'] }}</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
            {% endif %}
            <li><a href="{{ url_for('main.setting') }}">应用设置</a></li>
            <li><a href="https://github.com/sanmumuzi/PixivSpider_GUI">项目源代码</a></li>
        </ul>
    </div>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li class="list-group-item list-group-item-warning">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>