{% extends "base.html" %}
{% block title %}PixivSpider{% endblock %}

{% block body %}
{% if illust_stream is not none %}
    <img src="data:image/{{ illust_type }};base64,{{ illust_stream }}" class="img-responsive img-rounded center-block" />
{% else %}
    <a href="#" class="btn btn-primary btn-block" role="button">下载图片</a>
{% endif %}
{% if illust_base_info_dict is not none %}
    <div>
        <table class="table table-bordered" style="width: 100%;">
            <thead>
            <tr>
                {% for key in illust_base_info_dict.keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th>Illust_path</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for key, value in illust_base_info_dict.items() %}
                <td class="illust_{{ key }}">{{ value }}</td>
                {% endfor %}
                <td class="illust_path">{{ illust_path }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}
{% if illust_info_dict is not none %}
    <div>
        <table class="table table-bordered" style="width: 100%;">
            <thead>
            <tr>
                {% for key in illust_info_dict.keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for key, value in illust_info_dict.items() %}
                <td class="illust_{{ key }}">{{ value }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}
{% if illust_user_info is not none %}
    <div>
        <table class="table table-bordered" style="width: 100%;">
            <thead>
            <tr>
                {% for key in illust_user_info.keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for key, value in illust_user_info.items() %}
                <td class="illust_{{ key }}">{{ value }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}
{% if illust_tag_set %}
    <div>
        <ul class="list-group">
            {% for illust_tag in illust_tag_set %}
            <li class="list-group-item">
                <a href="{{ url_for('main.show_tag', name=illust_tag) }}">{{ illust_tag }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}
