{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block body %}
    <div>
        <a href="{{ url_for('auth.homepage', id=g.user['id'], operate='update') }}">
            <button type="button" class="btn btn-default">更新书签信息</button>
        </a>
        {% if bookmark_info_list is not none %}
        <table class="table table-bordered" style="width: 100%;">
            <thead>
            <tr>
                <th>Illust id</th>
                <th>Illust title</th>
                <th>Illust tag</th>
                <th>User id</th>
                <th>User name</th>
                <th>Bookmark count</th>
            </tr>
            </thead>
            <tbody>
            {% for bookmark_info_dict in bookmark_info_list %}
            <tr>
                <td class="illust_id">{{ bookmark_info_dict['illust_id'] }}</td>
                <td class="illust_title">{{ bookmark_info_dict['illust_title'] }}</td>
                <td class="illust_tag">{{ bookmark_info_dict['illust_tag'] }}</td>
                <td class="user_id">{{ bookmark_info_dict['user_id'] }}</td>
                <td class="user_name">{{ bookmark_info_dict['user_name'] }}</td>
                <td class="bookmark_count">{{ bookmark_info_dict['bookmark_count'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
